body {
    font-family: 'Poppins', sans-serif;
    background-color: #282a36;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adana-container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #44475a;
    border-radius: 5px;
    padding: 20px;
}

.adana-title {
    color: #40e0d0;
    text-align: center;
    margin-bottom: 20px;
}

.adana-subtitle {
    color: #f8f8f2;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f8f8f2;
}

.chat-input {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"], select, .user, .bot {
    border-radius: 20px; /* Increase border-radius */
}

.chat-window {
    background-color: #282a36;
    border-radius: 5px;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    color: #f8f8f2;
    margin-bottom: 10px;
    max-width: 75%;
}

.user-message {
    background-color: #44475a;
    border-radius: 5px;
    padding: 10px;
}

.user {
    align-self: flex-start;
    text-align: left;
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 70%;
    background-color: #6272a4;
    border-radius: 10px;
    color: #f8f8f2;

    /* Animation */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.3s ease-out forwards;
}

.bot {
    align-self: center;
    text-align: left;
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;

    /* Animation */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.3s ease-out forwards;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bot p {
    color: #f8f8f2;
    line-height: 1.6;
    margin: 10px 0;
    padding: 20px 0;

}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
}

.user {
    box-shadow: 0 2px 4px rgba(248, 248, 242, 0.1); /* Add box-shadow */
}

button {
    background-color: #40e0d0;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #35c4b9;
}

#send-btn:hover {
    background-color: #ff79c6; /* Change the background color on hover */
    cursor: pointer; /* Change the cursor to a pointer */
}

input[type="text"]::selection {
    background-color: transparent;
}

#objective {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
}


select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
    appearance: none;
}

.footer {
    background-color: #282a36;
    /* padding: 20px 0; */
    text-align: center;
}

.footer p {
    color: #f8f8f2;
    font-size: 0.9rem;
    margin: 0;
}

